body{
    background-image: linear-gradient(to right, purple, lightblue);
}
.container {
    width: 500px;
    height: 250px;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: linear-gradient(to right, lightpink, lightgreen);
}